<h1>Contact</h1>

<h3> Stowarzyszenie Otwarte Drzwi</h3>

<h5>ul. Równa 10/3, 03-418 Warszawa,
 tel/fax (+48 22) 619 85 01
 e-mail: stowarzyszenie@otwartedrzwi.pl </h5>

 

<h5>REGON: 011305320   NIP: 113 01 78 033    KRS 00000 800 10  
Bank: PEKAO  SA  06 1240 6074 1111 0000 4999 0832</h5>

 

<h5>Darowizny na cele statutowe Stowarzyszenia: 77 1240 6074 1111 0010 3072 2313</h5>
<br>
 <h4>Adres korespondencyjny:</h4>

<h5>Stowarzyszenie Otwarte Drzwi
ul. Targowa 82, 03-448 Warszawa,
 tel./fax (+48 22) 619 85 01</h5>
 <h5>e-mail: stowarzyszenie@otwartedrzwi.pl</h5>

