<p id="notice"><%= notice %></p>

<table>
	
   <% @cart.line_items.each do |item| %>
       <tr>
           <li><%= item.quantity %> &times;</li>
           <li> <%= item.item.title %></li>
           <td class="item_price"><%= number_to_currency(item.total_price) %></td>
         </tr>
    <% end %>
    <tr class="total_line">
      <td colspan="2">Total</td>
          <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
    </tr>
</table>

<p>
  <strong>Total amount:</strong>
  <%= @cart.sum_quantity %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @cart.sum_weight %>
</p>

<%= button_to 'Empty cart', @cart, method: :delete,
data: { confirm: 'Are you sure?' } %>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back to shop', home_index_path %> |
<%= link_to 'Buy', new_order_path %>
