<ul class ="thumbnails">

<%= search_form_for @search do |f| %>
<div class="field">
	<%= f.label :title_cont, "Search" %>
	<%= f.text_field :title_cont %>
	
</div>

<div class="actions"><%= f.submit "Search" %></div>
<% end %>
 
<ul class ="thumbnails">

<%- model_class = Item -%>
<% @items.each do |item| %>
<li>
<%= link_to image_tag(item.image.url(:cropped), class: 'thumbnail'),
item_path(item) %>
<h4><%= item.title %></h4>
<div class="price_line">
<span class="price"><%= number_to_currency(item.price) %></span>
<%= button_to 'Add to Cart', line_items_path(item_id: item) %>
</div>
</li>
<% end %>
</ul>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_item_path,
            :class => 'btn btn-primary' if current_user && current_user.admin? %>

<%=  will_paginate @items %>





