<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>



<%= link_to 'Back', categories_path %> 
<% if current_user && current_user.admin? %> |
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'New item', new_item_path %>
<% end %>